# JetBrains project folders.
.idea/

# VSCode project folder
.vscode/*

# Desktop Services Store - Mac.
.DS_Store

# Vendor modules.
vendor/*

# App Binaries.
bin/*

# Documentation. Use `make docs` to generate
docs/*

# Dont ignore any .gitkeep files, please.
!*.gitkeep

.tmp

# This needs to be sourced from the proto3 repo.
proto

# Generated protobuf files.
rpc

# Generated or local configuration files.
config/dev*

# env file
config/test*


/docker/volume/cache/machine.json
/docker/volume/cache/server.test.pem
/docker/volume/cache/server.test.pem.crt
/docker/volume/cache/server.test.pem.key
/docker/volume/cache/service-catalog-3_3_1_dev-1_34_74.pickle

/docker/docker/dynamodb/shared-local-instance.db
/docker/promtail
/main
